/* スタイル例 */
.error-message {
  height: 1.5em;             /* 高さを固定しておく */
  visibility: hidden;        /* 見えないけどスペース確保 */
  color: red;
  margin: 0;
  padding: 0;
}

p{
  font-size: 24px
}

#href{
  font-size: 20px;
}

#userNameInput{
  width: 25vw;      /* 横幅を指定 */
  height: 40px;      /* 高さを指定 */
  font-size: 20px;   /* 文字サイズも大きく */
  padding: 8px;      /* 内側の余白（見た目に余裕を） */
  border-radius: 6px; /* 角を丸める（オプション） */
}

#setNameBtn, #getNameBtn{
  width: 5vw;      /* 横幅を指定 */
  height: 55px;
  font-size: 14px;   /* 文字サイズも大きく */
  padding: 8px;      /* 内側の余白（見た目に余裕を） */
  border-radius: 6px; /* 角を丸める（オプション） */
}
.main-wrapper {
  display: flex;
  flex-direction: column; /* 縦並び */
  align-items: center;     /* 中央寄せ */
  justify-content: center;
}

/* GameSet.html 特有css */
.boss-selection{
  display: flex;
  justify-content: center; /* 真ん中寄せ */
  /* align-items: center;     縦方向中央揃え */
  height: 23vh;
  width: 100%;
  gap: 4%;               /* 画像の間隔 */
  visibility: hidden;     /* 初期非表示ならJSで切り替える */
  margin-top: 2%;
}

.boss {
  position: relative;
  width: 15vw;
  height: 15vw;
}

#boss1, #boss4 {
  top: -15vh;
}

#boss2, #boss3 {
  top: 9vh;
}

#boss5 {
  top: -3.5vh;
}

#close5 {
  filter: brightness(0); /* 真っ黒にする */
}

.boss-Img{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;       /* 親の左上に */
  left: 0;
  z-index: 1; /* 背面（ボス） */
}

.close-Img{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;       /* 親の左上に */
  left: 0;
  z-index: 2; /* 前面（封印） */
}

/* 宝箱 */
.treasure-wrapper {
  display: flex;
  justify-content: center;
  height: 20vh; /* 必要十分な高さ */
}

.treasureBox {
  top: 1.5vh;
  width: 125px;
  height: 125px;
  position: relative;
}

.box1-Img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  display: none; /* ← 初期表示で非表示にする */
}

.box2-Img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  display: block; /* 表示する */
}

/* POP */
.popup {
  position: fixed; /* 固定位置 */
  top: 45%; /* 画面の中央に配置 */
  left: 50%; /* 画面の中央に配置 */
  transform: translate(-50%, -50%); /* 完全に中央に配置 */
  width: 500px;
  height: 285px;
  padding: 4px;
  background-color: black; /* 背景色 */
  border: 4px solid #ffe500;; /* 枠線 */
  align-items: center; /* 中央揃え */
  justify-content: center; /* 中央揃え */
  z-index: 9999; /* 他の要素より前面に */
}

/* .popupボタン */
#endButton {
  background-color: #1a1a1a; /* 黒に近いグレー */
  color: white;
  border: 2px solid white;
  width: 90px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

#endButton:hover {
  background-color: white;
  color: black;
  transform: scale(1.05); /* 少し拡大 */
}

#jumon{
  margin: 24px auto 8px auto;
}