/* スタイル例 */
.error-message {
  height: 1.5em;             /* 高さを固定しておく */
  visibility: hidden;        /* 見えないけどスペース確保 */
  color: red;
  margin: 0;
  padding: 0;
}

p{
  font-size: 24px
}

#href{
  font-size: 20px;
}

#userNameInput{
  width: 25vw;      /* 横幅を指定 */
  height: 40px;      /* 高さを指定 */
  font-size: 20px;   /* 文字サイズも大きく */
  padding: 8px;      /* 内側の余白（見た目に余裕を） */
  border-radius: 6px; /* 角を丸める（オプション） */
}

#setNameBtn, #getNameBtn{
  width: 5vw;      /* 横幅を指定 */
  height: 55px;
  font-size: 14px;   /* 文字サイズも大きく */
  padding: 8px;      /* 内側の余白（見た目に余裕を） */
  border-radius: 6px; /* 角を丸める（オプション） */
}

/* GameSet.html 特有css */
.boss-selection{
  display: flex;
  justify-content: center; /* 真ん中寄せ */
  align-items: center;     /* 縦方向中央揃え */
  gap: 10%;               /* 画像の間隔 */
  visibility: hidden;     /* 初期非表示ならJSで切り替える */
  margin-top: 3%;
}

.boss {
  position: relative;
  width: 15vw;
  height: 15vw;
}

.boss-Img{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;       /* 親の左上に */
  left: 0;
  z-index: 1; /* 背面（ボス） */
}

.close-Img{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;       /* 親の左上に */
  left: 0;
  z-index: 2; /* 前面（封印） */
}

